body {
    background-image: url("http://getwallpapers.com/wallpaper/full/f/9/8/1127302-vertical-cool-black-background-designs-2170x1472-download.jpg");
  }


.container2 {
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.container3 {
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 40px;
}
/* .container4 {
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 40px;
} */

.form-group {
    margin-left: 10px;
    margin-top: 10px;
}

#send {
    margin-left: 10px;
    margin-bottom: 10px;
}

/* #app {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px; 
} */

/* @media (min-width: 576px) {
    #app {
        columns: 50%;
    }
}

@media (min-width: 768px) {
    #app {
        columns: 33%;
    }
}

@media (min-width: 992px) {
    #app {
        columns: 33%;
    }
} */

.card {
    padding-left: 8px;
    margin-left: 6px;
}

#imgCard {
    height: 300px;
    width: 300px;
    margin-left: 6px;
}

h4 {
    align-content: center;
    text-align: center;
    background-color: whitesmoke;

}

#cright {
    color: whitesmoke;
}

#label {
    color: whitesmoke;
}

#indexText {
    color: whitesmoke;
}

#contactTextHead {
    color: whitesmoke;
}

#textName, #textEmail, #textMessage {
    color: whitesmoke;
}














